# S04 T01: Transformació Registre Log amb Regular expressions #

L'anàlisi de registres és una funció important per al control i l'alerta, el compliment de les polítiques de seguretat, l'auditoria i el compliment normatiu, la resposta a incidents de seguretat i fins i tot les investigacions forenses. En analitzar les dades de registre, les empreses poden identificar més fàcilment les possibles amenaces i altres problemes, trobar la causa arrel i iniciar una resposta ràpida per mitigar els riscos.

## Nivell 1 ##

L'analista ha d'assegurar-se que els registres consisteixen en una gamma completa de missatges i s'interpreten segons el context. Els elements de registre han d'estandaritzar-se, utilitzant els mateixos termes o terminologia, per evitar confusions i proporcionar cohesió.

Com Científic de Dades se t'ha proporcionat accés als registres-Logs on queda registrada l'activitat de totes les visites a realitzades a la pàgina web de l'agència de viatges "akumenius.com".

### - Exercici 1 ###

Estandaritza, identifica i enumera cada un dels atributs / variables de l'estructura de l'arxiu "Web_access_log-akumenius.com" que trobaràs al repositori de GitHub "Data-sources".

## Nivell 2 ##

### - Exercici 2 ###

Neteja, preprocesa, estructura i transforma (dataframe) les dades del registre d'Accés a la web.

### - Exercici 3 ###

Geolocalitza les IP's.

In [84]:
movies.ndim

2

In [85]:
movies.columns

Index(['TitleYear', 'Genres'], dtype='object')

In [86]:
movies.dtypes

TitleYear    object
Genres       object
dtype: object

In [87]:
movies.describe()

               TitleYear Genres
count               3883   3883
unique              3883    301
top     Toy Story (1995)  Drama
freq                   1    843

In [88]:
round(movies.describe(include='all'), 3)

               TitleYear Genres
count               3883   3883
unique              3883    301
top     Toy Story (1995)  Drama
freq                   1    843

In [89]:
movies.isnull().sum()/len(movies)

TitleYear    0.0
Genres       0.0
dtype: float64

In [102]:
movies.TitleYear.unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       ..., 'Tigerland (2000)', 'Two Family House (2000)',
       'Contender, The (2000)'], dtype=object)

In [103]:
movies.TitleYear.nunique()

3883

## Nivell 3 ##

### - Exercici 3 ###

En aquest exercici no us donarem gaires indicacions perquè volem que ens mostreu la vostra creativitat. Sorprèn-me amb gràfiques i interpretacions del dataset "movies.dat" del exercici anterior.